<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Регистрация</title>
</head>
<body>
    <h1>Регистрация</h1>
    <a href="/">Главная страница</a>

    <hr>

    <form action="" method="">
        <label>
            login: <input type="text">
        </label>
        <br>
        <label>
            email: <input type="text">
        </label>
        <br>
        <label>
            pass: <input type="password">
        </label>
        <br>
        <label>
            repeat pass: <input type="password">
        </label>
        <br>
        <input type="submit">
    </form>

    <hr>


</body>
</html>